.arrow-next{
    width: 40px;
    height: 60px;
    position: relative;
    background-color: black;
    opacity: 0.8;
    border-radius:10px 0px 0px 10px;  
}

.arrow-next::after ,.arrow-next::before{
    content: " ";
    width: 50%;
    height: 4px;
    position: absolute;
    margin-left:30%;
    background-color: white;
}

.arrow-next::after{
    top:22px;
    transform: rotate(45deg);;
}
.arrow-next::before{
    bottom:22px;
    transform: rotate(-45deg);
}
.container-arrow-next{
    position: fixed;
    top:50%;
    right:0px;   
}

@media (max-width:414px){
    .arrow-next{
        display: none;
    }
}